<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.example.mapper.SurveyMapper">
	<!-- 게시물 정보 -->
	<resultMap type="Survey" id="SurveyResultMap">
		<result column="ROWNUM" property="ROWNUM"/>
		<result column="s_idx" property="s_idx"/>
		<result column="s_title" property="s_title"/>
		<result column="s_journal" property="s_journal"/>
		<result column="s_views" property="s_views"/>
		<result column="s_group" property="s_group"/>
		<result column="s_order" property="s_order"/>
		<result column="s_depth" property="s_depth"/>
		<result column="u_idx" property="u_idx"/>
		
		<association property="user" javaType="User">
		    <id property="id" column="user_id"/>
    		<result column="u_name" property="uName"/>
  		</association>
	
	</resultMap>
	
	<select id="selectSurveyList" resultMap="SurveyResultMap">
		SELECT 		@ROWNUM := @ROWNUM -1 AS ROWNUM, ta.*, tb.u_idx, tb.u_name
		FROM		survey ta
		INNER JOIN	(SELECT @ROWNUM := (SELECT	COUNT(*)- #{pageNum}+1 FROM survey ta)) tc ON 1=1
		LEFT JOIN	user tb ON ta.u_idx = tb.u_idx
		<where>
			<if test= 'search.query !=null and !search.query.equals("") '>
				${search.field} LIKE CONCAT ('%', #{search.query}, '%')
			</if>
		</where>
			
		ORDER BY	s_idx desc
		LIMIT		#{pageNum}, 5
	</select>
		
		
	<!-- 설문지 작성 -->
	
	<insert id="insertSurvey" parameterType="Survey">
		INSERT INTO
			survey
			(
				s_title,
				s_journal,
				s_views,
				u_idx
			)
			VALUES
				(	
					#{s_title},
					#{s_journal},
					#{s_views},
					#{u_idx}
			)
		<selectKey keyProperty="s_idx" resultType="Integer">
				SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="insertQuestion" parameterType="Survey">
		INSERT INTO
			question
			(
				s_idx,
				q_idx,
				q_contents,
				q_type,
			)
			VALUES
				(
					#{s_idx},
					(SELECT IFNULL(MAX(#{question.q_idx}) +1, 1) FROM question),
					#{question.q_contents},
					#{question.q_type}
			)
	</insert>
	<insert id="insertItem" parameterType="Survey">
		INSERT INTO
			item
			(
				s_idx,
				q_idx,
				i_idx,
				i_contents,
			)
			VALUES
				(
					#{s_idx},
					#{question.q_idx},
					(SELECT IFNULL(MAX(#{item.i_idx}) +1, 1) FROM item),
					#{item.i_contents}
			)
	</insert>
		
		
		
		
		
	<!-- 검색  -->	
	<select id="getSurveyCount" resultType="int" parameterType="Search">
		SELECT COUNT(*) count 
		FROM survey, user tb
		
		<where>
			 <if test='query != null and !query.equals("")'>
				${field} LIKE CONCAT ('%',#{query}, '%')
			</if>
		</where>
		ORDER BY s_idx desc
	</select>
	
	<!-- 조회수 -->
		<update id="viewCount">
			update survey set s_views = s_views+1 where s_idx = #{s_idx}
		</update>
		 
</mapper>