<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.example.mapper.SurveyMapper">
	<!-- 게시물 정보 -->
	<resultMap type="Survey" id="SurveyResultMap">
		<result column="ROWNUM" property="ROWNUM"/>
		<result column="s_idx" property="s_idx"/>
		<result column="s_title" property="s_title"/>
		<result column="s_journal" property="s_journal"/>
		<result column="s_views" property="s_views"/>
		<result column="s_group" property="s_group"/>
		<result column="s_order" property="s_order"/>
		<result column="s_depth" property="s_depth"/>
		<result column="u_idx" property="u_idx"/>
		
		<association property="user" javaType="User">
		    <id property="id" column="user_id"/>
    		<result column="u_name" property="uName"/>
  		</association>
	
	</resultMap>
	
	<select id="selectSurvey" resultMap="SurveyResultMap">
		SELECT 		@ROWNUM := @ROWNUM -1 AS ROWNUM, ta.*, tb.u_idx, tb.u_name
		FROM		survey ta
		INNER JOIN	(SELECT @ROWNUM := (SELECT	COUNT(*)- #{pageNum}+1 FROM survey ta)) tc ON 1=1
		LEFT JOIN	user tb ON ta.u_idx = tb.u_idx
		<where>
			<if test= 'search.query !=null and !search.query.equals("") '>
				${search.field} LIKE CONCAT ('%', #{search.query}, '%')
				
<!-- 작은 따움표를 없앨려면 ${}를 사용하면 되는데 보안에 취약하다. -->
			</if>
		</where>
			
		ORDER BY	s_group desc, s_order asc, s_idx desc
		LIMIT		#{pageNum}, 5
	</select>
		
		
	<!-- 검색  -->	
	<select id="getSurveyCount" resultType="int">
		SELECT COUNT(*) count 
		FROM survey
		
		<where>
			 <if test='query != null and !query.equals("")'>
				${field} LIKE CONCAT ('%',#{query}, '%')
				ORDER BY	s_idx desc
			</if>
		</where>
	</select>
	
	<!-- 조회수 -->
		<update id="viewCount">
			update survey set s_views = s_views+1 where s_idx = #{s_idx}
		</update>
		 
</mapper>