<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.example.mapper.SurveyMapper">
	<!-- 게시물 정보 -->
	<resultMap type="Survey" id="SurveyResultMap">
		<result column="ROWNUM" property="ROWNUM"/>
		<result column="s_idx" property="s_idx"/>
		<result column="s_title" property="s_title"/>
		<result column="s_journal" property="s_journal"/>
		<result column="s_views" property="s_views"/>
		<result column="s_group" property="s_group"/>
		<result column="s_order" property="s_order"/>
		<result column="s_depth" property="s_depth"/>
		<result column="u_idx" property="u_idx"/>
		
		<association property="user" javaType="User">
		    <id property="id" column="user_id"/>
    		<result column="u_name" property="uName"/>
  		</association>
	
	</resultMap>
	
	<select id="selectSurveyList" resultMap="SurveyResultMap">
		SELECT 		@ROWNUM := @ROWNUM -1 AS ROWNUM, ta.*, tb.u_idx, tb.u_name
		FROM		survey ta
		INNER JOIN	(SELECT @ROWNUM := (SELECT	COUNT(*)- #{pageNum}+1 FROM survey ta)) tc ON 1=1
		LEFT JOIN	user tb ON ta.u_idx = tb.u_idx
		<where>
			<if test= 'search.query !=null and !search.query.equals("") '>
				${search.field} LIKE CONCAT ('%', #{search.query}, '%')
			</if>
		</where>
			
		ORDER BY	s_idx asc
		LIMIT		#{pageNum}, 5
	</select>
		
		
	<!-- 설문지 작성 -->
	
	<insert id="insertSurvey" parameterType="Survey">
		INSERT INTO
			survey
			(
				s_title,
				s_journal,
				s_views,
				u_idx
			)
			VALUES
				(	
					#{s_title},
					#{s_journal},
					#{s_views},
					#{u_idx}
			)
		<selectKey keyProperty="s_idx" resultType="Integer">
				SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	
	<insert id="insertQuestion" parameterType="Question">
		INSERT INTO
			question
			(
				s_idx,
				q_idx,
				q_contents,
				q_type
			)
			VALUES 
			(
				#{s_idx},
				(SELECT IFNULL(MAX(q_idx) + 1, 1) FROM question q WHERE s_idx = #{s_idx}),
				#{q_contents},
				#{q_type}
			)
	</insert>
	
	<insert id="insertItem" parameterType="Question">
		INSERT INTO
			item
			(
				s_idx,
				q_idx,
				i_idx,
				i_contents,
			)
			VALUES
				<choose>
					<when test="itemList != null">
						<foreach collection="itemList" item="item" separator=",">
							(
								#{s_idx},
								#{q_idx},
								(SELECT IFNULL(MAX(item.i_idx) + 1, 1) FROM item i WHERE s_idx = #{s_idx}),
								#{item.i_contents}
							)
						</foreach>
					</when>
				</choose>
	</insert>
		
		
		
		
		
	<!-- 검색  -->	
	<select id="getSurveyCount" resultType="int" parameterType="Search" >
		
		<choose>
			<when test='field != null and field.equals("tb.u_name")'>
					SELECT COUNT(*) count 
					FROM survey, user tb
					WHERE ${field} LIKE CONCAT ('%',#{query}, '%') AND
					tb.u_idx = survey.u_idx
			</when>
			<when test='field != null and field.equals("s_title")'>
					SELECT COUNT(*) count 
					FROM survey
					WHERE ${field} LIKE CONCAT ('%',#{query}, '%')
			</when>
			<otherwise>
				SELECT COUNT(*) count 
				FROM survey
			</otherwise>
		</choose>
	</select>
	
	<!-- 내 설문지 검색  -->	
	<select id="MySurveyCount" resultType="int" parameterType="Search">
		<choose>
			<when test='field != null and field.equals("tb.u_name")'>
				SELECT COUNT(*) count 
				FROM survey ta, user tb
				WHERE ${user.u_idx} = ta.u_idx AND
					  tb.u_idx = ta.u_idx AND
					  ${field} LIKE CONCAT ('%',#{query}, '%')
			</when>
			<when test='field != null and field.equals("s_title")'>
				SELECT COUNT(*) COUNT 
				FROM survey ta
				WHERE ${user.u_idx} = ta.u_idx AND
					   ${field} LIKE CONCAT ('%',#{query}, '%')
			</when>
			<otherwise>
				SELECT COUNT(*) count 
				FROM survey
				WHERE ${user.u_idx} = u_idx
			</otherwise>
		</choose>
	</select>
	
	<!-- 내 설문지 리스트 -->
	<select id="MySurveyList" resultMap="SurveyResultMap">
		SELECT 		@ROWNUM := @ROWNUM -1 AS ROWNUM, ta.*, tb.u_idx, tb.u_name
		FROM		survey ta
		INNER JOIN	(SELECT @ROWNUM := (SELECT	COUNT(*)- #{pageNum}+1 FROM survey ta)) tc ON 1=1
		LEFT JOIN	user tb ON ta.u_idx = tb.u_idx
		<choose>
			<when test='search.query !=null and !search.query.equals("")'>
				WHERE ${search.field} LIKE CONCAT ('%', #{search.query}, '%') AND
					  tb.u_idx = ${search.user.u_idx}
			</when>
			<otherwise>
				WHERE tb.u_idx = ${search.user.u_idx}	
			</otherwise>
		</choose>
		ORDER BY	s_idx asc
		LIMIT		#{pageNum}, 5
	</select>
	
	
	
	
	<!-- 조회수 -->
		<update id="viewCount">
			update survey set s_views = s_views+1 where s_idx = #{s_idx}
		</update>
		 
</mapper>